@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.footer {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    padding: 20px 10px 10px 20px; /* Reduce bottom padding */
    text-align: center;
    font-family: "Quicksand", "Helvetica Neue", Arial, sans-serif;
    height:230px ;
    margin-top: 70px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.footer-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.footer-icon {
    color: white;
    margin-right: 10px;
    font-size: 24px;
}

.footer-title {
    font-weight: 300; /* Light font weight */
    color: white;
    margin-top: 5px;
}

.footer-tagline {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

.footer-navigation {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-nav-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav-link:hover {
    color: #00d4ff;
}

.footer-icons {
    margin-bottom: 20px;
}

.footer-icon {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-icon:hover {
    color: #00d4ff;
}

.footer-copyright {
    color: white;
    font-size: 12px;
    margin-top: 3px; /* Remove bottom margin */
}
